body{
	font-family: 'Roboto' , sans-serif;
	color:#333;
	&.no-overflow{
		overflow: hidden;
	}
}

img{
	max-width: 100%;
	height: auto;
}

*{
	box-sizing:border-box;
}
a{
	font-weight: 400;
	color:$mainPurple;
}