/* Gulp Sprites */
{{#shapes}}
	{{#first}}
		.icon{
		background-image:url('../../assets/images/sprites/{{{sprite}}}');
		}
		.no-svg .icon{
			background-image:url('../../assets/images/sprites/{{#replaceSvg2Png}}{{{sprite}}}{{/replaceSvg2Png}}');
		}
	{{/first}}
	.icon--{{base}}{
		width:{{width.outer}}px;
		height:{{height.outer}}px;
		background-position: {{position.relative.xy}};
	}
{{/shapes}}