.btn{
	color:$mainPurple;
	padding:5px 0;
	width:130px;
	background-color:$mainGold;
	text-decoration: none;
	border-radius: 3px;
	border:1px solid #6b5938;
	font-size: 1rem;
	font-weight: 500;
	text-transform: uppercase;
	margin: .5rem auto;
	transition: all .3s ease-out;
	margin-bottom:3px;
	display:block;

	@mixin smallView{
		margin: .5rem;

		display: inline-block;
		padding:18px 0;
		width:200px;
	}
	&--transparent{
		background-color: transparent;
		border-color:#fff;
		color:#fff;
		font-weight: 400;
		&:hover{
		background-color: $mainPurple;
		
		}
	}
}
