/* Gulp Sprites */
		.icon{
		background-image:url('../../assets/images/sprites/sprite-3b1dd783.svg');
		}
		.no-svg .icon{
			background-image:url('../../assets/images/sprites/sprite-3b1dd783.png');
		}
	.icon--art{
		width:50px;
		height:50px;
		background-position: 99.74058577405857% 29.069767441860463%;
	}
	.icon--behance{
		width:58.69px;
		height:58.69px;
		background-position: 78.02092831401156% 35.937787030800315%;
	}
	.icon--bug{
		width:50px;
		height:50px;
		background-position: 62.76150627615063% 99.63953488372093%;
	}
	.icon--code{
		width:50px;
		height:50px;
		background-position: 50.62761506276151% 34.122093023255815%;
	}
	.icon--down{
		width:34px;
		height:34px;
		background-position: 93.48235294117647% 53.191489361702125%;
	}
	.icon--facebook{
		width:58.69px;
		height:58.69px;
		background-position: 25.483044592071554% 69.00373522748147%;
	}
	.icon--github{
		width:58.69px;
		height:58.69px;
		background-position: 50.96608918414311% 69.00373522748147%;
	}
	.icon--gplus{
		width:58.69px;
		height:58.69px;
		background-position: 78.02092831401156% 0;
	}
	.icon--info{
		width:50px;
		height:50px;
		background-position: 75.18410041841004% 68.24418604651163%;
	}
	.icon--instagram{
		width:58.69px;
		height:58.69px;
		background-position: 0 33.065948196681155%;
	}
	.icon--linkedin{
		width:58.69px;
		height:58.69px;
		background-position: 0 69.00373522748147%;
	}
	.icon--logo{
		width:121px;
		height:54px;
		background-position: 0 0;
	}
	.icon--message{
		width:50px;
		height:50px;
		background-position: 0 99.63953488372093%;
	}
	.icon--more{
		width:34px;
		height:34px;
		background-position: 93.48235294117647% 71.27659574468085%;
	}
	.icon--star{
		width:50px;
		height:50px;
		background-position: 20.92050209205021% 99.63953488372093%;
	}
	.icon--suit{
		width:50px;
		height:50px;
		background-position: 41.84100418410042% 99.63953488372093%;
	}
	.icon--twitter{
		width:58.69px;
		height:58.69px;
		background-position: 25.483044592071554% 33.065948196681155%;
	}
	.icon--wordpress{
		width:50px;
		height:50px;
		background-position: 99.74058577405857% 0;
	}
	.icon--youtube{
		width:58.69px;
		height:58.69px;
		background-position: 52.53788372193999% 0;
	}
